@import '../../Public/tools.scss';

.c-dashboard_budget {
  width: calc(100%/3);
  padding: $spacing_100;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.c-dashboard_budget h2 {
  margin-bottom: 0;
}

.c-dashboard_budget__chart_wrapper {
  position: relative;
}

$chart_size: calc(100% - #{$spacing_200});

.c-dashboard_budget__chart_nums {
  position: absolute;
  width: $chart_size;
  top: 0;
  background: $white;
  border-radius: 100%;
  height: calc(#{$chart_size} - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: $spacing_100;
  margin-left: $spacing_100;
}
.c-dashboard_budget__chart_nums h1 {
  margin: 0;
  margin-bottom: $spacing_50;
  font-size: $text_large;
}
.c-dashboard_budget__chart_nums h2 {
  margin: 0;
  font-size: $text_body;
}

@media (max-width: 580px) {
  .c-dashboard_budget {
    width: 100%;
    &:nth-child(even) {
      border-left: none;
    }
  }
}
