@import '../../Public/tools.scss';

.p-dashboard {
  padding-top: $spacing_100;
}
.p-dashboard__content {
  @include max-width;
}

.c-card.p-dashboard__total_progress {
  padding: 0;
}

.p-dashboard__budgets_wrapper {
  margin-top: $spacing_200;
}
.p-dashboard__h1 {
  margin: 0;
}
.p-dashboard__title {
  font-size: $text_large;
  font-weight: bold;
  margin-bottom: $spacing_100;
}
.p-dashboard__uncategorized {
  margin-top: $spacing_200;
}
.p-dashboard__transaction_header {
  display: flex;
  justify-content: space-between;
  color: $black;
}
.p-dashboard__budgets {
  margin: auto;
  margin-top: $spacing_100;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-dashboard__actions {
  display: flex;
}

.p-dashboard__action_button {
  margin-top: $spacing_200;
  text-align: center;
  margin-right: $spacing_100 !important;
  cursor: pointer;

  &:last-child {
    margin-right: 0 !important;
  }
}

.p-dashboard__empty_state {
  text-align: center;

}

@media (max-width: 60px) {
  .p-dashboard__h1 {
    text-align: center;
  }
  .p-dashboard__budgets {
    display: block;
  }
}
