@import '../../Public/tools.scss';

.p-home__grabber {
  // background: $light_blue;
  background: linear-gradient(45deg, $light_blue 0%, $light_green 100%);
  width: 100%;
  // color: #FFFFFF;
}
.p-home nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 $spacing_100;
  box-sizing: border-box;
}
.p-home_nav__items {
  height: 100%;
}
.p-home_nav__item {
  display: flex;
  align-items: center;
  height: 100%;
}
.p-home_nav__item:hover {
  border-bottom: 1px solid $black;
}
.p-home__logo {
  font-size: $text_large;
  font-weight: bold;
  color: $black;
}
.p-home__content {
  @include max-width;
  text-align: left;
  color: $black;
  flex-basis: 1100px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  margin-top: $spacing_200;
  padding-bottom: 64px;
  height: 500px;
}
.p-home__content_image {
  width: 30%;
  padding-left: $spacing_100;

}
.p-home__content_copy {
  width: 70%;
}
.p-home__content h1 {
  font-size: 80px;
  margin: 0;
  margin-bottom: $spacing_200;
  line-height: 90px;
  letter-spacing: -2.5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.p-home__content button {
  background-color: $white;
  border: none;
  color: $black;
  box-shadow: 0 5px 0 rgba(17,17,31,.25);
  border-radius: 99999rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 64px;
  cursor: pointer;
}
.p-home__content button:hover {
  background: $light_gray;
}
.p-home_phone_input {
  max-width: 280px;
}
.p-home__texting {
  display: inline-block;
  width: 400px;
}
.c-sms_bubble {
  padding: $spacing_50 $spacing_100;
  border-radius: 20px;
  margin: $spacing_50 0;
  text-align: left;

  &-recieve {
    background: #E5E5EA;
    float: left;
  }

  &-send {
    float: right;
    color: $white;
    background: linear-gradient(0deg, #1288F8 0%, #1287F8 100%);
  }
}

.p-home__features {
  margin: $spacing_200 auto;
  @include max-width;
}
.p-home__features h1 {
  margin-bottom: $spacing_200;
}
.p-home__feature {
  display: flex;
  align-items: center;
  margin-bottom: 128px;
}

.p-home__feature_description {
  padding: 0 $spacing_200;
}

.p-home__get_started {
  width: 100%;
  padding: $spacing_200 0;
  text-align: center;
  background: $dark_gray;
}

@media (max-width: 815px) {
  .p-home__content_image {
    display: none;
  }
  .p-home__content_copy {
    width: 100%;
  }
  .p-home__feature {
    display: block;
    text-align: center;
  }
}
@media (max-width: 760px) {
  .p-home__content h1 {
    font-size: 50px;
    line-height: 62px;
  }
}
@media (max-width: 380px) {
  .p-home__content {
    text-align: center;
  }
}
