@import '../../Public/tools.scss';

.p-add_account {
  @include max-width;
  padding-top: $spacing_100;
}
.p-add_account__header {
  font-size: $text_large;
  margin-bottom: $spacing_100;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i.fa-plus {
    font-size: $text_body;
  }
}
.p-add_account__name {
  font-size: $text_large;
}
.p-add_account__content {
  text-align: center;
}
.p-add_account__button {
  color: $black;
  background: $dark_blue;
}
.p-add_account__spacer {
  height: 0;
  transition: .2s;
}
.p-add_account__spacer--open {
  height: 600px;
  transition: .2s;
}
.p-add_account__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
}
