@import '../../Public/tools.scss';

.p-transaction_table__amount {
  width: 100%;
  text-align: center;
}

.p-transaction_table__edit {
  width: 100%;
  text-align: center;
}

.-pagination {
  align-items: center;
  padding: $spacing_50;
}

.ReactTable .-pagination {
  padding: $spacing_50;
}

.-pageJump input {
  margin-bottom: 0;
}
