@import '../../Public/tools.scss';

$table_border: 1px solid $light_gray;


.p-transaction_table {
  width: 100%;
  border-radius: $border_radius;
  margin-top: -$spacing_200;
}

.p-transaction_table thead {
  background: $light_gray;

  & tr th {
    padding-top: $spacing_100;
    padding-bottom: $spacing_100;
  }
}

.p-transaction_table__body tr td {
  padding: $spacing_50 $spacing_100;
  box-sizing: border-box;
}
.p-transaction_table__body tr:nth-child(even) {
  background: fade-out($light_gray, .07);

  & td {
    border-top: $table_border;
    border-bottom: $table_border;
  }
}
.p-transaction_table__body tr:last-child td{
  border-bottom: none;
}

.p-transaction_table__column--location {
    width: 75%;
    text-align: left;
}
th.p-transaction_table__column--location {
    padding-left: $spacing_100;
}
.p-transaction_table__column--amount {
    width: 25%;
    text-align: center;
}
