@import '../../Public/tools.scss';

.p-budget { }

.p-budget__content {
  @include max-width;
}
.p-budget__title_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-budget__title {
  font-size: $text_large;
  margin-bottom: $spacing_100;
  font-weight: bold;
}
.p-budget__transactions {
  margin-top: $spacing_200;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.p-budget__transactions .c-card_header {
  padding-left: $spacing_200;
  padding-right: $spacing_200;
  width: 100%;
  margin-left: 0;
}

.p-budget__transactions p {
  text-align: center;
  color: $gray;
}

.p-budget__delete {
  margin-top: $spacing_100;
  font-size: $text_small;
  cursor: pointer;
}
