@import '../../Public/tools.scss';

.p-transaction_table__amount {
  width: 100%;
  text-align: center;
}

.p-transaction_table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing_100;
  padding-bottom: $spacing_100;
  border-bottom: 1px solid $dark_gray;
}
.p-transaction_table__header {
  font-weight: bold;
}

.p-transaction_table__search {
  width: 50%;
  padding: $spacing_50 $spacing_75;
  margin-bottom: 0;
}

.c-card.p-budget__transaction {
  padding: $spacing_100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing_100;
}
.p-budget__transactions .c-card_header {
  margin-bottom: 0;
}
.p-budget__transaction_date {
  margin-top: $spacing_50;
}
.p-transaction_table__edit {
  width: 100%;
  text-align: center;
}

.-pagination {
  align-items: center;
  padding: $spacing_50;
}

.ReactTable .-pagination {
  padding: $spacing_50;
}

.-pageJump input {
  margin-bottom: 0;
}
