@import './tools.scss';

a {
  text-decoration: none;
  color: inherit;
}
.c-content_wrapper {
  width: calc(100% - #{$nav_width});
  background: $light_gray;
  float: right;
  min-height: 100vh;
}

.c-site {
  position: relative;
}

@media (max-width: $mobile_nav_show) {
  .c-content_wrapper {
    width: 100%;
    float: none;
  }
}
