// Colors
$black: #34394A;
$dark_gray: #A5ABB2;
$light_gray: #F8F9FA;
$white: #ffffff;

$light_blue: #7EDAF2;
$dark_blue: #69CBE4;

$light_green: #7CEEAB;
$dark_green: #68DD99;

$light_red: #DD7051;
$dark_red: #D26141;

// Old
$gray: #767676;
$pink: $light_red;


// Spacing
$spacing_25: 4px;
$spacing_50: 8px;
$spacing_75: 12px;
$spacing_100: 16px;
$spacing_125: 20px;
$spacing_150: 24px;
$spacing_175: 28px;
$spacing_200: 32px;

$border_radius: 4px;

// fontface
$text_large: 24px;
$text_med: 22px;
$text_body: 16px;
$text_small: 12px;

$nav_width: 70px;

$mobile_nav_show: 550px;

@mixin max-width {
  max-width: 1000px;
  padding: 0 $spacing_100;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: $spacing_100 $spacing_150;
  margin-bottom: $spacing_100;
  box-sizing: border-box;
  border-radius: $border_radius;
  border: 1px solid $black;
  font-size: 14px;
}
input[type="checkbox"] {
  width: auto;
  margin: 0;
}

button {
  background-color: $dark_green;
  border: none;
  color: #FFFFFF;
  border-radius: $border_radius;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: $spacing_75 $spacing_200;
  cursor: pointer;
  transition: .1s;

  &:hover {
    background: $light_green;
    transition: .1s;
  }
}

.c-card {
  width: 100%;
  padding: $spacing_200;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  border-radius: calc(#{$border_radius} * 2);
  background: $white;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $light_gray;
}
.c-card_header {
  width: calc(100% + 64px);
  color: $black;
  margin-left: -$spacing_200;
  margin-top: -$spacing_200;
  margin-bottom: $spacing_200;
  padding: $spacing_100 $spacing_200;
  border-top-left-radius: calc(#{$border_radius} * 2);
  border-top-right-radius: calc(#{$border_radius} * 2);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  border-bottom: 1px solid $light_gray;
}
.c-card.c-clickable_card {
  transition: .2s;
  cursor: pointer;
}
.c-clickable_card:hover {
  // transform: scale(1.01);
  transition: .2s;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.c-light_text {
  color: $dark_gray;
}
.c-error_text {
  color: $pink;
}

.c-text_small {
  font-size: $text_small;
}
.c-text_body {
  font-size: $text_body;
}

p {
  line-height: 1.6em;
}
