@import '../../Public/tools.scss';

.p-nav {
  width: $nav_width;
  height: 100vh;
  display: flex;
  color: $dark_gray;
  font-weight: bold;
  box-sizing: border-box;
  background: $white;
  z-index: 1;
  float: left;
  text-align: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0,0,0,0.12);
}
.p-nav--logged_out {
  border-bottom: 1px solid $dark_blue;
}
.p-nav--logged_in {
  border-bottom: 1px solid $light_gray;
}
.p-nav__logo {
  color: $black;
  font-size: $text_large;
  margin: $spacing_100 0;
}
.p-nav__items {
  font-size: $text_body;
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.p-nav__item {
  border-bottom: 2px solid $white;
  cursor: pointer;
  text-align: center;
  display: block;
  // margin: $spacing_25 0;
  padding: $spacing_50 0;

  &:hover {
    background: $light_gray
  }
}
.p-nav__item_sub {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: $spacing_50;
}
.p-nav--logged_in .p-nav__item {
  color: $black;
}

.p-nav_actions {
  width: 70px;
  height: 100vh;
  background: $dark_blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
