@import '../../Public/tools.scss';

.p-nav {
  height: $nav_width;
  width: 100%;
  display: flex;
  color: $dark_gray;
  font-weight: bold;
  box-sizing: border-box;
  background: $white;
  z-index: 1;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0,0,0,0.12);
}
.p-nav--logged_out {
  border-bottom: 1px solid $dark_blue;
}
.p-nav--logged_in {
  border-bottom: 1px solid $light_gray;
}
.p-nav__logo {
  color: $black;
  font-size: $text_large;
  margin-right: $spacing_100;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $dark_gray;
  font-weight: bold;
}
.p-nav__items {
  font-size: $text_body;
  font-weight: normal;
  text-align: center;
  display: flex;
  flex-grow: 1;
}
.p-nav__item {
  border-bottom: 2px solid $white;
  cursor: pointer;
  padding: 0 $spacing_100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background: $light_gray
  }
}
.p-nav__user {
  display: flex;
  align-items: center;
  padding: 0 $spacing_100;
  border-left: 1px solid $dark_gray;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
}

.p-nav--logged_in .p-nav__item {
  color: $black;
}

.p-nav_actions {
  width: 70px;
  height: 100vh;
  background: $dark_blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.p-desktop_nav {
  height: $nav_width;
}

@media (max-width: $mobile_nav_show) {
  .p-desktop_nav {
    display: none;
  }
}
