@import '../../Public/tools.scss';

.p-create_budget {
  @include max-width;
  padding-top: $spacing_100;
}

.p-create_budget__content {
}

.p-create_budget__header {
  font-size: $text_large;
  font-weight: bold;
  margin-bottom: $spacing_100;
}

.p-create_budget__input_group {

}

.p-create_budget__input_header {
  font-size: $text_body;
  margin-bottom: $spacing_50;
}
